<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ログイン</title>
  <%- include("../_share/stylesheets.ejs") %>

</head>

<body>
  <%- include("../_share/navbar.ejs") %>
  <%
  var errors = locals.errors || {};
  var mismatching = errors.password_mismatching || "";
  var username = errors.username || "";
  var email = errors.email || "";
  var password = errors.password || "";
  var password_confirm = errors.password_confirm || "";
  var role = errors.role || "";
  var message = locals.message || "";
  var password_validated = errors.password_validated || "";
  %>

    <main class="container">
      <div class="border-bottom mt-5 mb-5">
        <h1>新規アカウント登録</h1>
      </div>
      <div class="row justify-content-center">
        <% if (message) { %>
          <div class="alert alert-danger">
            <%= message %>
          </div>
          <% } %>
        <!-- パスワードと確認用が不一致の際のエラーメッセージ -->
        <% if (mismatching) { %>
          <div class="alert alert-danger">
            <div>
              <i class="fa fa-exclamation-circle fa-fw mr-2"></i><%= mismatching %>
            </div>
        </div>
        <% } %>
        <form method="POST" action="/account/regist/temporary">

          <!-- アカウント種別 -->
          <div class="form-group">
            <label for="role" style="padding-left: 0;" class="col-sm-2 col-form-label">種別：</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input pl-1" type="radio" name="role" id="client" value="client">
              <label class="form-check-label" for="client">クライアント</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="role" id="worker" value="worker">
              <label class="form-check-label" for="worker">ワーカー</label>
            </div>
          </div>
          <!-- 入力チェック -->
          <% if (role) { %>
            <div class="alert alert-danger">
              <div>
                <i class="fa fa-exclamation-circle fa-fw mr-2"></i><%= role %>
              </div>
          </div>
          <% } %>

          <!-- ユーザー名 -->
          <div class="form-group row">
            <label for="username" class="col-sm-2 col-form-label">ユーザー名：</label>
            <div class="col-sm-10">
              <input type="text" id="username" name="username" class="form-control" />
            </div>
          </div>
          <!-- 入力チェック -->
          <% if (username) { %>
            <div class="alert alert-danger">
              <div>
                <i class="fa fa-exclamation-circle fa-fw mr-2"></i><%= username %>
              </div>
          </div>
          <% } %>

          <!-- メールドレス -->
          <div class="form-group row">
            <label for="username" class="col-sm-2 col-form-label">メールアドレス：</label>
            <div class="col-sm-10">
              <input type="email" id="email" name="email" class="form-control" />
            </div>
          </div>
          <!-- 入力チェック -->
          <% if (email) { %>
            <div class="alert alert-danger">
              <div>
                <i class="fa fa-exclamation-circle fa-fw mr-2"></i><%= email %>
              </div>
          </div>
          <% } %>

          <!-- パスワード -->
          <div class="form-group row">
            <label for="password" class="col-sm-2 col-form-label">パスワード：</label>
            <div class="col-sm-10">
              <input type="password" id="password" name="password" class="form-control" />
            </div>
          </div>
          <!-- 入力チェック -->
          <% if (password) { %>
            <div class="alert alert-danger">
              <div>
                <i class="fa fa-exclamation-circle fa-fw mr-2"></i><%= password %>
              </div>
          </div>
          <% } %>
          <!-- パスワードと確認用が不一致の際のエラーメッセージ -->
        <% if (password_validated) { %>
          <div class="alert alert-danger">
            <div>
              <i class="fa fa-exclamation-circle fa-fw mr-2"></i><%= password_validated %>
            </div>
        </div>
        <% } %>

          <!-- パスワード(確認用) -->
          <div class="form-group row">
            <label for="password_confirm" class="col-sm-2 col-form-label">パスワード(確認)：</label>
            <div class="col-sm-10">
              <input type="password" id="password_confirm" name="password_confirm" class="form-control" />
            </div>
          </div>
          <!-- 入力チェック -->
          <% if (password_confirm) { %>
            <div class="alert alert-danger">
              <div>
                <i class="fa fa-exclamation-circle fa-fw mr-2"></i><%= password_confirm %>
              </div>
          </div>
          <% } %>

          <div class="form-group row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
              <button class="btn btn-primary">登録</button>
            </div>
          </div>
        </form>
      </div>
    </main>
    <%- include( "../_share/javascripts.ejs" ) %>

</body>

</html>