<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TWICE MATCHING</title>
  <!-- JavaScriptインポート -->
  <%- include("../_share/stylesheets.ejs") %>
</head>
<body>
  <%- include("../_share/navbar.ejs") %>

    <main class="container">
      <div class="border-bottom mt-5 mb-5">
        <h1><%= title %></h1>
      </div>
      <!-- 仕事情報表示 -->
      <dl class="row mt-5 mb-5">
        <dt class="col-3">業務内容：</dt>
        <dd class="col-9"><%= job_description %></dd>
        <dt class="col-3">業務期間</dt>
        <dd class="col-9"><%= contract_period_from %></dd>
        <dt class="col-3">募集期間</dt>
        <dd class="col-9"><%= post_period_from %></dd>
        <dt class="col-3">勤務地</dt>
        <dd class="col-9"><%= location %></dd>
        <dt class="col-3">勤務形態</dt>
        <dd class="col-9"><%= work_style%></dd>
        <dt class="col-3">業種</dt>
        <dd class="col-9"><%= industry_types %></dd>
        <dt class="col-3">スキルカテゴリー</dt>
        <dd class="col-9"><%= skills %></dd>
      </dl>

      <!-- urlを非表示で画面に設置し、それをキーとしてDBに格納されている仕事情報を削除しに行く -->
      <% if (locals.user) { %>
        <form method="POST" action="/job_matching/room" class="d-flex">
          <!-- サーバーで取得用にjob_ideを配置 -->
          <div>
            worker_id:<input type="text"   class="form-control-plaintext" id="worker_id" name="worker_id" value="<%= locals.user.user_id %>" />
          </div>
          <div>
            job_id:<input type="text"   class="form-control-plaintext" id="job_id" name="job_id" value="<%= job_id %>"/>
          </div>
          <div>
            user_id:<input type="text"   class="form-control-plaintext" id="client_id" name="client_id" value="<%= user_id %>"/>
          </div>
          <input class="btn btn-primary" type="submit" value="応募"/>
      </form>
      <% } %>
    </main>
    <%- include( "../_share/javascripts.ejs" ) %>

</body>

</html>